{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 41.1993069960347,
    "longitude": -112.08391427993774,
    "elevation": 1395,
    "unit_system_v2": "us_customary",
    "location_name": "Home",
    "time_zone": "America/Denver",
    "external_url": null,
    "internal_url": null,
    "currency": "USD",
    "country": "US",
    "language": "en",
    "radius": 29
  }
}